* {
  padding: 0;
  margin: 0;
    
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Loading types */
.fragment-mono-regular {
  font-family: "Fragment Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.fragment-mono-regular-italic {
  font-family: "Fragment Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.pp-neue-montreal-bold{ 
    font-family: 'PP Neue Montreal';
    font-weight: bold;
    font-style: normal;
}

.pp-eiko-italic-light{ 
    font-family: 'PP Eiko';
    font-weight: 300;
    font-style: italic;
}

.pp-eiko-black-italic{
    font-family: 'PP Eiko';
    font-weight: 900;
    font-style: italic;
}

.pp-eiko-medium{ 
    font-family: 'PP Eiko';
    font-weight: 500;
    font-style: normal;
}

/* text styles */

p {
  font-family: "Fragment Mono", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
}

h2{
  font-family: 'PP Eiko';
  font-weight: 500;
  font-style: normal;
  font-size: 3rem;
}


.pink-highlight {
  color: #EB7EAA;
}


/* Loading video screen */
body {
  margin: 0;
  font-family: sans-serif;
  scroll-behavior: smooth;
  background-color: #f0f0f0;
}

.fullscreen {
  height: 100vh;
  background: #222;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  z-index: 2;
}

#maincont {
  padding: 2rem;
  background: #f0f0f0;
}

#loadingcont {
  position: relative;
  overflow: hidden;
  background-color: black;
  transition: transform 1s ease-in-out;
}

#bg-video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: 100vw;
  height: auto;
  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: 0;
}


#loading-section > .container-fluid {
  position: relative;
  z-index: 1;
}

#scroll{
  z-index: 3;
}

/* transición de salida */
#introLoadingcont.slide-up {
  transform: translateY(-100%);
  transition: transform 1s ease-in-out;
}

.scroll-indicator {
  
  /* bottom: 20px; */
  font-size: 1.5rem;
  animation: bounce 1.5s infinite;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}




/* Ocultar la barra de scroll */
html, body {
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

/* ANIMACIONES LANDING PAGE */

/* giro estrella esquina izq */
.spin-star {
    animation: rotate 8s linear infinite;
    transform-origin: center center;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* volteo luna */
.flip-wrapper {
  perspective: 1000px; /* Necesario para efecto 3D */
  display: inline-block;
}

.flip-spin {
  display: block;
  transform-style: preserve-3d;
  animation: flipY 4s linear infinite;
}

@keyframes flipY {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

/* flecha animacion landing page */
.scroll-arrow {
  font-family: 'Fragment Mono', monospace;
  font-size: 1.3rem;
  animation: bounce 1.5s infinite;
  line-height: 1;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(6px);
  }
}

/* ANIMACIONES PRE-HOME */

/* saltitos de hi! */
.bounce-hover {
  display: inline-block;
  transition: transform 0.4s ease-in-out;
}

.bounce-hover:hover {
  animation: bounceY 0.8s ease-in-out infinite;
}

@keyframes bounceY {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}

/* circulo de designer */
.graphic-container {
  position: relative;
  display: inline-block;
}

.graphic-hover {
  position: relative;
  z-index: 2;
}

.graphic-underline {
  position: absolute;
  bottom: -20px; /* Ajusta este valor visualmente */
  right:0;
  margin-right: -0.5em;
  stroke: #D1D485;
  stroke-width: 7;
  stroke-linecap: round;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  pointer-events: none;
  z-index: 1;
}

.graphic-hover:hover ~ .graphic-underline {
  animation: drawUnderline 1.2s ease-out forwards;
}

@keyframes drawUnderline {
  to {
    stroke-dashoffset: 0;
  }
}


/* NAV BAR, ANIMACIÓN LOGOS ENTRADA A PAGE */
main nav {
  position: sticky;
  top:80px;
  border:5px solid #1B75CE;
  display:inline-block;
}

.page-content {
  transform: translateY(100%);
  opacity: 0;
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}

.page-content.visible {
  transform: translateY(0);
  opacity: 1;
}