* {
  padding: 0;
  margin: 0;    
}

html {
  background-color: white;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Loading types */
@font-face {
  font-family: "PPNeueMontreal";
  src: url("../fonts/PPNeueMontreal-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Neue Montreal';
  src: url('/fonts/PPNeueMontreal-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PP Neue Montreal';
  src: url('/fonts/PPNeueMontreal-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
} 

@font-face {
  font-family: "PP Eiko";
  src: url("../fonts/PPEiko-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PP Eiko";
  src: url("../fonts/PPEiko-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "PP Eiko";
  src: url("../fonts/PPEiko-BlackItalic.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

.fragment-mono-regular {
  font-family: "Fragment Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.fragment-mono-regular-italic {
  font-family: "Fragment Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.pp-neue-montreal-bold{ 
  font-family: 'PP Neue Montreal';
  font-weight: bold;
  font-style: normal;
}

.pp-eiko-italic-light{ 
  font-family: 'PP Eiko';
  font-weight: 300;
  font-style: italic;
}

.pp-eiko-black-italic{
  font-family: 'PP Eiko';
  font-weight: 900;
  font-style: italic;
}

.pp-eiko-medium{ 
  font-family: 'PP Eiko';
  font-weight: 500;
  font-style: normal;
}

/* text styles */

p {
  font-family: "Fragment Mono", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.2;
}

h1{
  font-family: 'PP Neue Montreal';
  font-weight: 700;
  font-style: normal;
}


h2{
  font-family: 'PP Eiko';
  font-weight: 500;
  font-style: normal;
  font-size: 3rem;
}

h4 {
  font-family: 'PP Eiko' !important;
  font-weight: 500;
  font-style: normal;
  font-size: 2.1rem !important;
}


.btn {
  font-family: "Fragment Mono", monospace !important; 
  font-weight: 400;
  font-style: normal;
  font-size: 0.9rem !important;
}

.text-overflow{
  word-wrap: break-word; /* permite cortar palabras largas */
  overflow-wrap: break-word; /* estándar moderno */
  white-space: normal; 
}

.pink-highlight {
  color: #EB7EAA;
}

.purple-highlight {
  color: #868EBE;
}

.green-highlight {
  color: #D1D485;
}


/* Ocultar la barra de scroll */

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

/* NAV BAR */

main{
  background-color: #f3f3f3;
}

#mainNav {
  transition: padding .8s ease, background-color .8s ease, box-shadow .8s ease;
  mix-blend-mode: difference;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items:flex-start;
  padding-top: 0.5rem;
  justify-content: space-between;
  padding: 3em;
  position: fixed;
}

#bigLogo {
  transition: max-width .8s ease, opacity .8s ease;
  transform-origin: left center; 
}


#bigLogo {
  opacity: 1;
  max-width: 22vw;
}

#navLinks a {
  font-family: "Fragment Mono", monospace;
  font-weight: 400;
  font-style: normal;
  color: #f3f3f3;
  mix-blend-mode: difference !important;
  position: relative;
}

/* FOOTER */

footer {
  height: 60vh;
  background-color: #f3f3f3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* CONTACT */
#contact-star{
  width: 0.6em;
  margin-left: 0.1em;
}

#links-section {
  min-height: 100vh;
  background-color: #222;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


/* circulo de designer */
.graphic-container {
  position: relative;
  display: inline-block;
}

.graphic-hover {
  position: relative;
  z-index: 2;
}

.graphic-underline {
  position: absolute;
  bottom: -20px; /* Ajusta este valor visualmente */
  right:0;
  margin-right: -0.5em;
  stroke-width: 7;
  stroke-linecap: round;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  pointer-events: none;
  z-index: 1;
}

.graphic-underline-pink {
  position: absolute;
  bottom: -30px; /* Ajusta este valor visualmente */
  right:0;
  margin-right: -0.8em;
  stroke-width: 7;
  stroke-linecap: round;
  stroke-dasharray: 1500;
  stroke-dashoffset: 1500;
  pointer-events: none;
  z-index: 1;
}

.graphic-hover:hover ~ .graphic-underline {
  animation: drawUnderline 1.2s ease-out forwards;
}

.graphic-hover:hover ~ .graphic-underline-pink {
  animation: drawUnderline 1.2s ease-out forwards;
}

@keyframes drawUnderline {
  to {
    stroke-dashoffset: 0;
  }
}


/* ABOUT PAGE */
#contact-container {
  color: #f3f3f3;
}

#about-me-body{
  background-color: #f3f3f3;
  min-height: 100vh;
}

#text-self-intro{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#self-introduction{
  padding-top: 8em !important;
  padding-bottom: 8em !important;

}

#cv-info {
  padding-top: 8em !important;
  padding-bottom: 8em !important;
}

#education:hover div h5 svg path {
  fill: #EB7EAA; 
}

#languages:hover h5 svg path {
  fill: #EB7EAA;
}

#skills:hover div h5 svg path {
  fill: #868EBE; 
}

#professional-experience:hover div h5 svg path {
  fill: #D1D485; 
}


/* WORK PAGE */
#work-container {
  color: #f3f3f3;
}

#video-section-title{ 
  background-color: #222;
}

/* flecha arrow toggle */
.arrow-toggle {
  transition: transform 0.3s ease;
}

a[aria-expanded="true"] .arrow-toggle {
  transform: rotate(180deg);
}

#collapseVideo {
  /* gradiente */
  width: 100%;
  height: fit-content;
  background: linear-gradient(
    to bottom,
    #222 0%,     /* empieza aquí */
    #f3f3f3 1000px,    /* color sólido hasta el 40% */
    #f3f3f3 100%    /* sólido hasta el final */
  );
  padding-bottom: 8em !important;
}

.work-box {
  width: 90vw;
  height: fit-content;
  background-color: #f3f3f3;
  border-radius: 1em;
  margin-top: 10em !important;

  /* efectoo drop down shadow */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

/* propiedad de bootstrap made !important to avoid d-flex override */
.collapse {
  &:not(.show) {
    display: none !important;
  }
}

.border-img-cards{
  border-radius: 0.8em !important;
}

.modal-dialog {
  width: 80vw !important;
  max-width: fit-content !important;
  display: flex;
  align-self: center;
  background-color: #f3f3f3;
 
}

#projects-3D-section-title { 
  background-color: #868EBE;
}

#collapse3DProjects {
  /* gradiente */
  width: 100%;
  height: 200vh;
  background: linear-gradient(
    to bottom,
    #868EBE 0%,     /* empieza aquí */
    #222 600px,    /* color sólido hasta el 40% */
    #222 100%    /* sólido hasta el final */
  );
  padding-bottom: 8em !important;
}