* {
    padding: 0;
    margin: 0;
    
}

/* Loading types */
.fragment-mono-regular {
  font-family: "Fragment Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.fragment-mono-regular-italic {
  font-family: "Fragment Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.pp-neue-montreal-bold{ 
    font-family: 'PP Neue Montreal';
    font-weight: bold;
    font-style: normal;
}

.pp-eiko-italic-light{ 
    font-family: 'PP Eiko';
    font-weight: 300;
    font-style: italic;
}

.pp-eiko-black-italic{
    font-family: 'PP Eiko';
    font-weight: 900;
    font-style: italic;
}

.pp-eiko-medium{ 
    font-family: 'PP Eiko';
    font-weight: 500;
    font-style: normal;
}

/* text styles */

p {
    font-family: "Fragment Mono", monospace;
    font-weight: 400;
    font-style: normal;
}


/* Loading video screen */
body {
  margin: 0;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

.fullscreen {
  height: 100vh;
  background: #222;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

#main-content {
  min-height: 200vh;
  padding: 2rem;
  background: #f0f0f0;
}

#loading-section {
  position: relative;
  overflow: hidden;
}

#bg-video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: 0;
}


#loading-section > .container-fluid {
  position: relative;
  z-index: 1;
  /* color: white; Opcional: mejora contraste */
}